parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Actions\\Fortify\\CreateNewUser\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: '#^Method App\\Actions\\Fortify\\ResetUserPassword\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Fortify/ResetUserPassword.php

		-
			message: '#^Method App\\Http\\Requests\\Settings\\PasswordUpdateRequest\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Settings/PasswordUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Settings\\ProfileDeleteRequest\:\:passwordRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Password\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Settings/ProfileDeleteRequest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:assertGuest\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/AuthenticationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/EmailVerificationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/PasswordConfirmationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/PasswordConfirmationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/PasswordResetTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:assertAuthenticated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/RegistrationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/TwoFactorChallengeTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/TwoFactorChallengeTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/TwoFactorChallengeTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/Auth/VerificationNotificationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Auth/VerificationNotificationTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/DashboardTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/HorizonDashboardTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/HorizonDashboardTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:assertGuest\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/Settings/ProfileUpdateTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:actingAs\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Feature/Settings/SecurityTest.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:skipUnlessFortifyHas\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Feature/Settings/SecurityTest.php

		-
			message: '#^Function something\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: tests/Pest.php
